---
---

@import "{{ site.theme }}";
.wrapper, section, nav {
  max-width: 950px !important;
}
.highlight .err {
    color: inherit !important;
    background-color: inherit !important;
}
code {
  background-color: #191919;
  tab-size: 4;
}
